body{
    text-align: center;
}

.hero p{
    font-size: 36px;
    font-weight: bold;
    padding: 26px 25px;
    
}

.hero h1{
    font-size: 96px;
    font-weight: bold;
}

img{
    position: relative;
    

}

button{
    padding: 10px 40px;
    border-radius: 20px;
    border: 2px solid red;
}
    


footer{
    text-align: center;
    position: fixed;
    padding: 80px;
    bottom: 0;

}

