body{
    text-align: center;
}

.hero p{
    font-size: 36px;
    font-weight: bold;
    padding: 26px 25px;
    
}

.hero h1{
    font-size: 96px;
    font-weight: bold;
}

footer{
    text-align: center;
    position: fixed;
    padding: 80px;
    bottom: 0;

}

